<div class="row" *ngIf="event">

  <div class="col-lg-12">
    <h1 class="page-header">{{event.name}}</h1>
  </div>
  <div *ngFor="let img of event.images" class="col-sm-12 thumb">
    <a class="thumbnail">
        <img class="img-responsive" [src]="img.url" alt="">
    </a>
  </div>

  <div class="col-lg-12">
     <h3>Event Descriptions</h3>
  </div>
  <div class="description">
    <p *ngFor="let desc of event.descriptions" class="col-sm-12">{{desc.text}}</p>
  </div>
  <div class="col-lg-12">
    <h3>Event Schedule</h3>
  </div>
  <div class="col-lg-12">
    <div *ngFor="let scheduleItem of event.schedule" class="col-sm-12">
      <h3>{{scheduleItem.date | date: 'medium'}}</h3>
      <div class="participants" *ngFor="let p of scheduleItem.participants" class="col-sm-12">
        <p>{{p.name}}</p>
      </div>
    </div>
  </div>

</div>