<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <hr>
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Events Demo 2017</p>
      </div>
    </div>
  </footer>
</div>