<ul class="pagination pull-right" *ngIf="pager && pager.itemsPerPage < pager.totalItems">
    <li *ngIf="pager.currentPage > 1">
        <input type="hidden" value="pager.currentPage)" name="page" />
        <a (click)="setPage(pager.currentPage - 1);" href="javascript:void(0);">&laquo;</a>
    </li>
    <li [class.active]="pager.currentPage == 1">
        <a (click)="setPage(1)" href="javascript:void(0);">1</a>
    </li>
    <li *ngIf="canShowPrevDots"><a href="javascript:void(0);">...</a></li>
    <li *ngFor="let ind of pageNumbers" [class.active]="pager.currentPage == ind">
        <a (click)="setPage(ind)" href="javascript:void(0);">{{ind}}</a>
    </li>
    <li *ngIf="canShowNextDots"><a href="javascript:void(0);">...</a></li>
    <li [class.active]="pager.currentPage == pagesCount">
        <a (click)="setPage(pagesCount)" href="javascript:void(0);">{{pagesCount}}</a>
    </li>
    <li *ngIf="pager.currentPage < pagesCount">
        <a (click)="setPage(pager.currentPage + 1);" href="javascript:void(0);">&raquo;</a>
    </li>
</ul>