<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Events</h1>
    </div>

    <div *ngFor="let event of events" class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="javascript:void(0);" (click)="goToDetails(event.id)">
                    <img class="img-responsive event-thumb" [src]="event.images[0].url" alt="">
      </a>
      <div class="pull-left thumb-info">
        <p>Name: <span>{{event.name}}</span></p>
        <p>Going: <span>{{event.totalParticipants}}</span></p>
        <p>Start: <span>{{event.startDate | date: 'medium'}}</span></p>
        <p>End: <span>{{event.endDate | date: 'medium'}}</span></p>
      </div>
    </div>

  </div>
  <my-pager [setPager]="pager" (onPageChanged)="setPage($event)"></my-pager>
</div>